body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Arial';
    line-height: 1.6;
    padding: 20px;
    background: #ffffff;
  }
  
  header {
    background: #282626;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
  }
  
    
  section#about h2, section#benefits h2, section#gallery h2 {
    background: #e0dbdb;
    padding: 5px;
    margin-bottom: 10px;
  }
  
  section#about p, section#benefits ul {
    padding: 0 15px;
  }
  
  section#benefits ul {
    list-style-type: square;
  }
  
  section#gallery img {
    width: 100%;
    height: auto;
    padding: 5px;
  }
  
  footer {
    background: #282626;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
  }
  
  footer p a {
    color: #20a2f2;
  }
  
section#gallery {
  display: block; 
}

section#gallery img {
  margin: 0 10px; 
  width: 300px;
  height: 200px;
  justify-content: center;
}